{% extends 'app/layout/_layout.html.twig' %}

{% block title %}{{ siteName }} - Login{% endblock %}

{% block main %}
    <form action="{{ path('user_login') }}" method="post">

        <input type="text" id="username" name="_username" value="{{ last_username }}" class="custom-input" placeholder="Username"/>
        <input type="password" id="password" name="_password" class="custom-input" placeholder="Password" />

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="text-center mt-4">
            <button type="submit" class="button button-secondary">Connexion</button>
        </div>

        <div class="text-center mt-3">
            <a href="{{ path('app_forgot_password_request') }}" class="text-decoration-none text-secondary"><small>Mot de passe oubliée ?</small></a>
        </div>
    </form>
{% endblock %}
