{% extends 'layout/_layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block main %}

    <main class="d-flex justify-content-center align-items-center flex-grow-1">
        <div class="col-lg-3 col-md-5 col-sm-8 col-10 form-box">
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.password)}}
                {{ form_row(registrationForm.agreeTerms) }}

                <div class="text-center mt-3">
                    <button type="submit" class="button button-secondary">Inscription</button>
                </div>
            {{ form_end(registrationForm) }}
        </div>
    </main>
{% endblock %}
