<div {{ attributes }}>
    {{ form_start(form, {
        trick: trick,
        form: form,
        attr: {
        'data-controller': 'components--form',
        'data-components--form-path-value':  path('trick_form_fetch'),
        'data-components--form-target': "form",
        'action': 'javascript:void(0)'
        }
    }) }}

    {{ form_row(form._token) }}
    <div class="d-flex flex-sm-row flex-column justify-content-sm-between justify-content-center pb-2">
        <h3>Ajout d'un trick</h3>
        <button type="submit" class="button button-primary btn-add-tricks"
                data-components--form-target="submit"
                data-action="click->components--form#send">
            Enregistrer
        </button>
    </div>

    <div class="d-flex">
        <div class="flex-grow-1 me-2">
            {{ form_row(form.name) }}
        </div>
        <div class="flex-grow-1 ms-2">
            {{ form_row(form.type) }}
        </div>
    </div>
    {{ form_row(form.description) }}

    <div class="upload">
        <div class="upload-images">
            {% for key, imageForm in form.images %}

                <div class="upload-images__row" {{ stimulus_controller('image-preview') }}
                     data-image-preview-target="box">
                    {{ form_widget(imageForm, { attr: {class: 'file-input', 'data-image-preview-target': 'boxToHide'}}) }}
                    {{ form_row(imageForm.vars.button_delete, { label: 'X', attr:
                        {
                            class: 'delete delete-image-upload',
                            'data-image-preview-target': 'deleteButton',
                            'data-item-id-param': key
                        } }) }}
                    <img src='{% if trick.images[key].filename is defined  %}{{ trickImageUrl ~ trick.images[key].filename }}{% endif %}'
                         alt='preview-image' class='preview-image'
                         data-image-preview-target='previewImage'>
                </div>
            {% endfor %}
            {{ form_widget(form.images.vars.button_add, { label: '+ Add image', attr: {class: 'button button-secondary my-3'} }) }}
        </div>

        {#        <div class="upload-videos"> #}
        {#            {% for key, videoForm in form.videos %} #}
        {#                <div class="upload-videos__row" {{ stimulus_controller('video-preview') }}> #}
        {#                    {{ form_widget(videoForm) }} #}

        {#                    <iframe data-video-preview-target="embed" #}
        {#                        id="video_{{ key }}" #}
        {#                        src="" #}
        {#                        width="200" #}
        {#                        height="120" #}
        {#                        allowfullscreen #}
        {#                        class="embed-video"></iframe> #}

        {#                    {{ form_row(videoForm.vars.button_delete, { label: 'X', attr: #}
        {#                        { #}
        {#                            class: 'delete delete-video-upload', #}
        {#                            'data-video-preview-target': 'deleteButton', #}
        {#                            'data-item-id-param': key #}
        {#                        } #}
        {#                    }) }} #}
        {#                </div> #}
        {#            {% endfor %} #}
        {#            {{ form_widget(form.videos.vars.button_add, { label: '+ Add video', attr: {class: 'button button-secondary my-3'} }) }} #}
        {#        </div> #}
    </div>
    {{ form_end(form, {'render_rest': false}) }}
</div>
