<div {{ attributes }}>
    {{ form_start(form, {
        attr: {
            'data-action': 'live#action',
            'data-action-name': 'prevent|save'
        }
    }) }}

    <div class="d-flex flex-sm-row flex-column justify-content-sm-between justify-content-center pb-2">
        <h3>Ajout d'un trick</h3>
        <button type="submit" class="button button-primary btn-add-tricks">
            Enregistrer
        </button>
    </div>

    <div class="d-flex">
        <div class="flex-grow-1 me-2">
            {{ form_row(form.name) }}
        </div>
        <div class="flex-grow-1 ms-2">
            {{ form_row(form.type) }}
        </div>
    </div>
    {{ form_row(form.description) }}

    <div class="row">
        <div class="upload-images">
            {% for key, imageForm in form.images %}

                <div class="upload-images__row" {{ stimulus_controller('image-preview') }}>
                    {{ form_widget(imageForm, { attr: {class: 'file-input', 'data-image-preview-target': 'boxToHide'}}) }}
                    {{ form_row(imageForm.vars.button_delete, { label: 'X', attr:
                        {
                            class: 'delete-image-upload',
                            'data-image-preview-target': 'deleteButton',
                            'data-item-id-param': key
                        } }) }}
                    <img src='' alt='preview-image' class='preview-image'
                         data-image-preview-target='previewImage' style="display: none;">
                </div>

            {% endfor %}
            {{ form_widget(form.images.vars.button_add, { label: '+ Add image', attr:{class: 'button button-secondary my-3'} }) }}
        </div>
        <div class="">
            {% for key, videoForm in form.videos %}
                <div style="display: flex;">
                    {{ form_row(videoForm.vars.button_delete, { label: 'X', attr: { class: 'button button-primary' } }) }}

                    {{ form_widget(videoForm) }}
                </div>
            {% endfor %}
            {{ form_widget(form.videos.vars.button_add, { label: '+ Add video', attr:{class: 'button button-secondary'} }) }}
        </div>
    </div>
    {{ form_end(form, {'render_rest': false}) }}
</div>

