<div id="modal-content" class="modal-content">
    <div class="modal-header">
        <h5 id="trick-title" class="modal-title text-capitalize">{{ trick.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="display-media" {{ stimulus_controller('media') }}>
            <div class="media-header">
                {% if (trick.images|length + trick.videos|length) > 0 %}
                    {% set key = 1 %}
                    {% for image in trick.images %}
                        <div class="media-item {% if image.isMain == true %}active{% endif %}" id="media-{{ key }}">
                            <img
                                 class="media-content"
                                 src="{{ asset('uploads/images/tricks/' ~ image.filename) }}"
                                 alt="image {{ key }}">
                        </div>
                        {% set key = key + 1 %}
                    {% endfor %}
                    {% for video in trick.videos %}
                        <div class="media-item {% if key == 0 %}active{% endif %}" id="media-{{ key }}">
                            <iframe
                                    width="100%"
                                    class="media-content"
                                    src="{{ video.url }}"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    allowfullscreen>

                            </iframe>
                        </div>
                        {% set key = key + 1 %}
                    {% endfor %}

                {% else %}
                    <div class="media-item active">
                        <img class="media-content"
                             src="{{ asset('uploads/images/tricks/default.jpg') }}" alt="image 1">
                    </div>
                {% endif %}
            </div>

            {% if (trick.images|length + trick.videos|length) > 0 %}
                <div class="media-bar scrollbar" id="style-1">
                    {% set key = 1 %}
                    {% for image in trick.images %}
                        <div class="media-box {% if image.isMain == true %}active{% endif %}"
                             data-media-id-param="{{ key }}"
                             data-action="click->media#select"
                             id="media-box-{{ key }}"
                        >
                            <img
                                    class="media"
                                    src="{{ asset('uploads/images/tricks/' ~ image.filename) }}"
                                    alt="slide {{ key + 1 }}">
                        </div>
                        {% set key = key + 1 %}
                    {% endfor %}
                    {% for video in trick.videos %}
                        <div class="media-box {% if key == 0 %}active{% endif %}"
                             data-media-id-param="{{ key }}"
                             data-action="click->media#select:prevent:stop"
                             id="media-box-{{ key }}"
                        >
                            {% set idVideo = video.url|split('/')|last|split('?',-1) %}
                            <img class="media"
                                    src="{{'https://img.youtube.com/vi/' ~ idVideo|last ~'/0.jpg'}}"
                                    alt="">
                            <i class="fa-solid fa-play false-play"></i>
                        </div>
                        {% set key = key + 1 %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div id="trick-content" class="px-4 mt-4">
            <p>
                {{ trick.description|nl2br }}
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <div id="trick-post">

        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</div>