{% extends 'layout/_layout.html.twig' %}

{% block title %}{{ siteName }} - New Tricks{% endblock %}

{% block main %}
    <main class="d-flex justify-content-center align-items-center flex-grow-1">
        <div class="container">
            {% if app.user %}
                {{ form_start(trickForm) }}
                {{ form_row(trickForm._token) }}

                <div class="d-flex flex-sm-row flex-column justify-content-sm-between justify-content-center border-bottom pb-2">
                    <h3>Ajout d'un trick</h3>
                    <button type="submit" class="btn btn-primary shadow-lg btn-add-tricks">
                        Enregistrer
                    </button>
                </div>

                {{ form_row(trickForm.name) }}
                {{ form_row(trickForm.description) }}
                {{ form_row(trickForm.type) }}

                <div class="row">
                    {#     Images collection       #}
                    <div {{ stimulus_controller('components/form-collection') }}
                            data-components--form-collection-index-value="{{ trickForm.images|length > 0 ? trickForm.images|last.vars.name + 1 : 0 }}"
                            data-components--form-collection-prototype-value="
                            <div class='d-flex position-relative' data-controller='pre-upload'>

                            <label class='label-file' data-pre-upload-target='formInputLabel'>
                                <input type='file'
                                        class='input-file'
                                        id='input_image___name__'
                                        name='image___name__'
                                        data-action='input->pre-upload#upload'
                                        accept='image/png, image/jpeg'
                                        data-pre-upload-target='formInput'
                                >
                                Choisir une image
                            </label>

                            <div class='d-none image-preview-box' data-pre-upload-target='box'>
                                <img src='' alt='preview-image-__name__' class='img-fluid' data-pre-upload-target='preview'>
                                <a class='delete-image-upload' data-action='click->pre-upload#delete'><i class='fa-solid fa-circle-xmark'></i></a>
                            </div>
                            {{ form_widget(trickForm.images.vars.prototype , { 'attr' : {'class': 'd-none', 'data-pre-upload-target': 'formFilename'} })|e('html_attr') }}

                            </div>
                        "
                            class="text-center col-sm-6 col-12"
                    >
                        <button {{ stimulus_action('components/form-collection', 'addCollectionElement') }}
                                {{ stimulus_target('components/form-collection', 'addButton') }}
                                type="button"
                                class="btn btn-secondary shadow mt-3">
                            Ajouter une image
                        </button>

                        <ul {{ stimulus_target('components/form-collection', 'collectionContainer') }}
                                class="upload_images"></ul>
                    </div>

                    {#     Videos collection       #}
                    <div {{ stimulus_controller('components/form-collection') }}
                            data-components--form-collection-index-value="{{ trickForm.videos|length > 0 ? trickForm.videos|last.vars.name + 1 : 0 }}"
                            data-components--form-collection-prototype-value="
                                <div class='d-flex flex-column'
                                    data-controller='preview-video'>
                                        {{ form_widget(trickForm.videos.vars.prototype, {
                                'attr':{
                                    'data-action': 'input->preview-video#preview'
                                }
                            })|e('html_attr') }}
                                        <iframe data-preview-video-target='embed'
                                        src=''
                                        width='250'
                                        height='150'
                                        allowfullscreen
                                        class='embed-video'></iframe>
                                </div>
                            "
                            class="text-center col-sm-6 col-12"
                    >

                        <button {{ stimulus_action('components/form-collection', 'addCollectionElement') }}
                                {{ stimulus_target('components/form-collection', 'addButton') }}
                                type="button"
                                class="btn btn-secondary shadow mt-3">
                            Ajouter une video
                        </button>

                        <div class="text-center mt-2 text-muted">Copier une Url embed du site de votre choix pour
                            ajouter
                            une video.
                        </div>

                        <ul {{ stimulus_target('components/form-collection', 'collectionContainer') }}
                                class="upload_videos"
                        ></ul>

                    </div>
                </div>

                {{ form_end(trickForm, {'render_rest': false}) }}
            {% else %}
                <div class="text-center">
                    Pour acceder à l'administration des tricks vous devez être connecté
                </div>
                <div class="text-center mt-3">
                    <a href="{{ path('user_login') }}" class="btn btn-primary">Page de connection</a>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
